
@import 'bootstrap';


header {
  width: 100%;
  border: 1px solid green;


}
.adhd {
  font-size: 100px;
  border: 1px solid black;
  text-align: center;
  width: 400px;



}

.logo {
  width: 300px;
  height: 250px;
  border: 1px solid red;
}
