@import 'bootstrap';

body {
  background-color: lightyellow;
  margin: 0px;
  background: lightorange;
}
header {
  width: 100%;
  border-bottom-style: dotted;
  border-color: orange;
}

  .header {
    text-align: center;}


  .adhd {
    font-size: 100px;
    text-align: center;
    width: 400px;
    display: inline-block;
    color: orange;}


  .logo {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
  }
   //---------------------------------------------HEADER>>>>
.main {
  margin-top: 20px;
}

.socialIcons {
  font-size: 40px;
}
.title {
  font-size: 30px;
  text-align: center;

}

.companies {
  text-align: center;
  color: grey;
}
// ------------------------------------------SECTION 1 >>>>>
footer {
  background-color: lightgrey;
  display: inline-block;
  width: 100%;
  text-align: center;
}


.cap {
  font-size: 30px;
  color: white;
  color: orange;
  text-align: center;
  margin-left: 20px;
}
.low {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.footpic {
  width: 11%;
  background: red;
  border-radius: 100%;
  margin-bottom: 50px;
  margin-top: 20px;

}





// ---------------------------------------------FOOTER>>>>
