
@import 'bootstrap';

body {
  background-color: lightorange;
}
header {
  width: 100%;}

  .header {
    text-align: center;}


  .adhd {
    font-size: 100px;
    text-align: center;
    width: 400px;
    display: inline-block;
    color: orange;}


  .logo {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
  }
   //-----------------------------------------------------HEADER>>>>

.title {
  font-size: 30px;
  text-align: center;
}
