@import 'bootstrap';

.companies img {
  margin: 10px 2%;
  width: 20%;
  padding: 10px 2%;
}

.carouselImage {
    display:none;
  img {
    width: 40%;
  }
}

.active {
  display: block;
  padding: 10px;
}
