@import 'bootstrap';

.companies img {
  margin: 10px 2%;
  width: 20%;
  padding: 10px 2%;
}

.carousel {
  img {
    width: 360px;
    height:240px;
  }
}
.carouselImage {
    display:none;
}

.active {
  display: block;
  padding: 10px;
}
