@import 'bootstrap';

.companies {

  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.companies img {
  margin: 10px 2%;
  width: 20%;
  padding: 10px 2%;

}

.carousel {
  float: left;
  width: 50%;

  img {
    width: 100%;
  }
  .thumbs {
    img {
      border-radius: 5px;
      width: 25px;
      height: 25px;
    }
  }
}
.carouselImage {
    display:none;
}

.active {
  display: block;
  padding: 10px;
}

@media screen and (max-width: 600px){

  img.logo{
    margin-bottom: 0px;
  }

  .companyInfo {
    width: 50%;
  }
  .carousel {
    width: 50%;
  }
}

@media screen and (max-width: 500px){

  img.logo{
    margin-bottom: 0px;
  }

  .companyInfo {
    width: 100%;
  }
  .carousel {
    width: 100%;
  }

  .users {
    margin: 15px auto;
    width: 90%;
  }
}
